<style>
  table,
  th,
  td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    column-width: 75px;
    height: 75px;
  }

  table tr {
    background-color: #f1f1f1;
  }

  .no-outline {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #f1f1f1;
    outline: none;
    text-align: center;
  }
</style>
<form [formGroup]="grid">
 
  <div class="container content">
    <div class="row">
      <div class="col-sm col-md col-lg">
        <span>Current Player: {{currentPlayer?.name}}</span>
        <table>
          <tr #row1>
            <td id="square1Cell" (click)="handleSquareClick(1)">
              <input class="no-outline" formControlName="square1" readonly>
            </td>
            <td id="square2Cell" (click)="handleSquareClick(2)">
              <input class="no-outline" formControlName="square2" readonly>
            </td>
            <td id="square3Cell" (click)="handleSquareClick(3)">
              <input class="no-outline" formControlName="square3" readonly>
            </td>
          </tr>
          <tr #row2>
            <td id="square4Cell" (click)="handleSquareClick(4)">
              <input class="no-outline" formControlName="square4" readonly>
            </td>
            <td id="square5Cell" (click)="handleSquareClick(5)">
              <input class="no-outline" formControlName="square5" readonly>
            </td>
            <td id="square6Cell" (click)="handleSquareClick(6)">
              <input class="no-outline" formControlName="square6" readonly>
            </td>
          </tr>
          <tr #row3>
            <td id="square7Cell" (click)="handleSquareClick(7)">
              <input class="no-outline" formControlName="square7" readonly>
            </td>
            <td id="square8Cell" (click)="handleSquareClick(8)">
              <input class="no-outline" formControlName="square8" readonly>
            </td>
            <td id="square9Cell" (click)="handleSquareClick(9)">
              <input class="no-outline" formControlName="square9" readonly>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="container btn btn-primary button-padding">
    <button (click)="rewind()">Rewind Previous Move</button>
    <button (click)="reset()">Reset Game</button>
    <button (click)="changePlayers()">Start Over with New Players</button>
  </div>
</form>