<form [formGroup]="playersForm">
  <div class="container content">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-12">
        <h2>Player 1</h2>
        <label for="player1Name"></label>
        <input type="text" #player1Name formControlName="player1Name" placeholder="Player1 Name">
        <label for="player1Value"></label>
        <input type="text" #player1Value formControlName="player1Value" placeholder="Player1 Value (X or O)"
          (input)="setPlayerValue(1, $event.target.value)" maxlength=1>

        <h2>Player 2</h2>
        <label for="player2Name"></label>
        <input type="text" #player2Name formControlName="player2Name" placeholder="Player2 Name">
        <label for="player2Value"></label>
        <input type="text" #player2Value formControlName="player2Value" placeholder="Player2 Value (X or O)"
          (input)="setPlayerValue(2, $event.target.value)" maxlength=1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="btn btn-primary button-padding">
      <button [disabled]="!playersForm.valid" type="submit" (click)="submit()">Play Game</button>
    </div>
  </div>
</form>